@media (max-width: 991px) {
    .service .service-item,
    .portfolio .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .home .home-text,
    .home .home-img,
    .about .about-img,
    .about .about-info,
    .about .skills .skill-item,
    .service .service-item,
    .portfolio .portfolio-item,
    .portfolio-popup .description,
    .portfolio-popup .info,
    .contact .contact-item,
    .contact .w-50 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-text {
        order: 2;
    }

    .home .home-text,
    .contact .submit-btn {
        text-align: center;
    }

    .home .full-screen {
        padding: 100px 0;
    }

    .home .home-img .img-box {
        margin-bottom: 40px;
        max-width: 350px;
    }

    .effect-3 {
        margin-left: -60px;
    }

    .effect-4 {
        left: 15%;
    }

    .effect-5 {
        right: 4%;
    }

    .about .about-img {
        padding-bottom: 30px;
    }

    .about .timeline .timeline-item:nth-child(odd) {
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }

    .about .timeline .timeline-item:nth-child(even) {
        padding-left: 75px;
    }

    .about .timeline:before {
        left: 35px;
    }

    .about .timeline .timeline-item:nth-child(odd) .icon {
        right: auto;
        left: -60px;
    }

    .about .timeline .timeline-item:nth-child(even) .icon {
        left: -60px;
    }

    .about .timeline .timeline-item {
        margin-bottom: 40px;
    }

    .about .timeline .timeline-item:last-child() {
        margin-bottom: 0;
    }

    .about .timeline .timeline-item:nth-child(odd) .TII:before {
        left: -30px;
        right: auto;
    }
}

@media (max-width: 574px) {
    .home .home-img .img-box {
        max-width: 260px;
    }

    .home .home-text h2 {
        font-size: 40px;
    }
}